<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LLM Tournament</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #282c34;
        color: #abb2bf;
        margin: 0;
        padding: 0;
      }
      h1 {
        background-color: #61afef;
        color: #282c34;
        padding: 10px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    {{template "nav"}}

    <h1>Welcome to the LLM Tournament!</h1>
  </body>
</html>
